forensic-project-transfer/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
forensic-project-transfer/**/*.webm filter=lfs diff=lfs merge=lfs -text
forensic-project-transfer/**/*.mov filter=lfs diff=lfs merge=lfs -text
forensic-project-transfer/**/*.pdf filter=lfs diff=lfs merge=lfs -text
forensic-project-transfer/**/*.zip filter=lfs diff=lfs merge=lfs -text
forensic-project-transfer/**/*.mbox filter=lfs diff=lfs merge=lfs -text
forensic-project-transfer/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
forensic-project-transfer/**/*.jpg filter=lfs diff=lfs merge=lfs -text
forensic-project-transfer/**/*.png filter=lfs diff=lfs merge=lfs -text
